@{
    ViewBag.Title = "Contact Me";
}

<div style="margin-top:10px; margin-left:5%">
    <p><a class="btn-floating btn-large waves-effect waves-light teal lighten-3" href="~/Home/Index"><i class="fa fa-home" aria-hidden="true"></i></a> Click to Return Home</p>
</div>

<div class="jumbotron" style="margin-left:5%; margin-right:5%">
    <h2 class="center-align">Contact Me</h2>
    <div class="row">
        <h3 class="light">Jennifer Evans</h3>
        <hr />
        <h5>5893 Fawn Circle</h5>
        <h5>Brecksville, OH 44141</h5>
        <h5>216-509-3347</h5>
        <h5>jenevans3ten@gmail.com</h5>
        <h5>www.linkedin.com/in/jenevans3ten</h5>
    </div>
</div>