@model EvansPortfolio_v1.Content.Project

@{
    ViewBag.Title = "Project Details";
}

<div style="margin-top:10px; margin-left:5%">
    <p><a class="btn-floating btn-large waves-effect waves-light teal lighten-3" href="~/Home/Index/#project-section"><i class="fa fa-home" aria-hidden="true"></i></a> Click to Return To Projects</p>
</div>

<div class="jumbotron" style="margin-left:5%; margin-right:5%">
    <h2>@Html.DisplayFor(model => model.Name) Details</h2>
    <hr />

    <h5>@Html.DisplayFor(model => model.Description)</h5>
    <p><a href=@Url.Content(Model.GitLink) target="_blank" class="btn-floating blue-grey darken-1"><i class="fa fa-github" aria-hidden="true"></i></a> Click to go to Project on GitHub</p>

    <div class="row">
    @foreach (var pic in Model.Screenshots)
    {
        <div class="col s12 m4 l3">
            <div class="card small">
                <div class="card-image">
                    <img src=@pic.ImagePath class="materialboxed">
                <div class="card-title">
                </div>
                    <span class="grey-text text-darken-4">@Html.DisplayFor(modelItem => pic.Name)</span>
                </div>
            </div>
        </div>
    }
    </div>
</div>
